<div class="footer__inner">

    <a href="https://schoolstuff.graspingspriggan.ch">
			<img src="/assets/buttons/webpin_schoolstuff.gif" style="height:31px;width:88px;max-height:none;max-width:none;">
	</a>

	<a href="https://lukesmith.xyz">
			<img src="/assets/buttons/webpin_lukesmith.gif" style="height:31px;width:88px;max-height:none;max-width:none;">
	</a>

	<a href="https://distro.tube">
			<img src="/assets/buttons/webpin_distrotube.gif" style="height:31px;width:88px;max-height:none;max-width:none;">
	</a>

</div>
