<footer class="footer">
  {{ partial "socials.html" . }}
  {{ partial "buttons.html" . }}
  {{ partial "copyright.html" . }}
  <div class="footer__inner">
        <span>Hugo Theme made by <a href="https://hugo-terminal.vercel.app/">panr</a></span>
  </div>
</footer>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
