<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
    </div>
	<a href="https://gitlab.com/azureorange404/"><img src="/assets/socials/gitlab_head.png"><a>
	<!-- {{ if len $.Site.Menus }} -->
      <!-- <div class="menu-trigger">menu</div> -->
    <!-- {{ end }} -->
  </div>
  {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
  {{ end }}
</header>
