<div class="footer__inner">
		<a href="https://gitlab.com/azureorange404/">
				<img src="/assets/socials/gitlab.png"></a>
		<a href="https://gitlab.com/azureorange404/">
				GitLab</a>
		<a href="https://fosstodon.org/web/@azureorange">
				<img src="/assets/socials/mastodon.png"></a>
		<a href="https://fosstodon.org/web/@azureorange">
				Mastodon</a>
		<a href="https://pixelfed.socials/azureorange">
				<img src="/assets/socials/pixelfed.png"></a>
		<a href="https://pixelfed.socials/azureorange">
				PixelFed</a>
		<a href="https://odysee.com/@AzureOrange404:7">
				<img src="/assets/socials/lbry.png"></a>
		<a href="https://odysee.com/@AzureOrange404:7">
				Odysee</a>
		<a href="mailto://azureorange404@protonmail.com">
				<img src="/assets/socials/mail.png"></a>
		<a href="mailto://azureorange404@protonmail.com">
				E-mail me</a>
</div>
<hr>
