:default {
    --font: Verdana, sans-serif;
    --bg0-color: #1d1f27;
    --bg1-color: #1d1f27;
    --bg2-color: #1d1f27;
    --fg0-color: #c9d1d9;
    --fg1-color: #c9d1d9;
    --fg2-color: #eee;

    --ac1-color: #8cc2dd;
    --ac2-color: #8b6fcb;
}
:root {
    --font: Verdana, sans-serif;

    --bg0-color: #282828;
    --bg1-color: #3c3936;
    --bg2-color: #504945;

    --fg0-color: #fbf1c7;
    --fg1-color: #ebdbb2;
    --fg2-color: #d5c4a1;

    --ac1-color: #fe8019;
    --ac2-color: #d65d0e;
}

body {
  font-family: var(--font);
  margin: auto;
  padding: 20px;
  max-width: 980px;
  text-align: left;
  background-color: var(--bg0-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--fg0-color);
  display: flex;
  min-height: 95vh;
  flex-direction: column;
}
main{
    flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--fg1-color);
}

a, a:visited {
  padding: 3px 6px;
  text-decoration: none;
  color: var(--ac1-color);
}
a:hover, a:active {
  text-decoration: none;
  background-color: var(--bg2-color);
}

.title {
  padding: 0;
}

.title span {
  font-weight: 400;
}

nav a {
  margin-right: 4px;
}

textarea {
  background-color: #252525;
  color: #ddd;
  width: 100%;
  font-size: 16px;
}

input {
  background-color: #252525;
  color: #ddd;
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
  border: none;
}

table.bordered,
.bordered th,
.bordered td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: #c9d1d9;
  padding: 5px;
}

.form {
  border: none;
}

main img {
  margin: auto;
  max-width: 100%;
  display: block;
}

code {
  padding: 2px 5px;
  color: var(--fg2-color);
  background-color: var(--bg1-color);
}

pre code {
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  font-size: 14px;
  overflow-x: auto;
}

blockquote {
  border-left: 1px solid #999;
  color: #ccc;
  padding-left: 20px;
  font-style: italic;
}

footer {
  padding: 25px;
  text-align: center;
}

.helptext {
  color: #aaa;
  font-size: small;
}

.errorlist {
  color: #eba613;
  font-size: small;
}

/* blog posts */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
  margin-bottom: 10px;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: var(--ac2-color);
}

a.blog-tags {
  line-height: 2;
}

h3.blog-filter {
  margin-bottom: 0;
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.7;
}

.filler {
    flex: 1;
}

/* BUTTONS */

a.button {
    padding: 0;
    margin: 0;
}

/* LIBRARY */

div.book-entry {
    border: 1px solid;
    border-collapse: collapse;
    border-color: #c9d1d9;
    display: flex;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: auto;
}

div.book-cover {
    float: left;
    display: inline-block;
    height: 10em;
    margin-right: 10px;
}

img.book-cover {
    height: 100%;
}

div.book-info {
    display: inline-block;
    width: calc(100% - 115px);
}

div.book-info h3, h4 {
    text-align: right;
    padding: 0;
    margin: 0;
}

div.book-info p {
    text-align: right;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

progress.book-progress {
    display: block;
    text-align: right !important;
    position: relative;
    margin-left: auto;
    margin-top: 5px;
    height:1.5em;
    max-width: 130px;
    border: 1px solid;
}

/* background: */
progress::-webkit-progress-bar {
    background-color: var(--bg0-color);
}
progress {
    background-color: var(--bg0-color);
}

/* value: */
progress::-webkit-progress-value {
    background-color: var(--ac1-color) !important;
}
progress::-moz-progress-bar {
    background-color: var(--ac1-color) !important;
}
progress {
    color: var(--ac1-color);
}

span.book-progress {
    color: var(--ac1-color);
}

a.book-openlibrary-link {
    margin: 0;
    padding: 0;
}
