<div class="footer__inner">
            <a class="button" href="http://azureorange.xyz/feed">
                <img src="/assets/buttons/feed.gif"/>
            </a>
            <a class="button" href="https://fosstodon.org/web/@azureorange">
                <img src="/assets/buttons/mastodon.gif"/>
            </a>
            <a class="button" href="https://pixelfed.social/azureorange">
                <img src="/assets/buttons/pixelfed.gif"/>
            </a>
            <a class="button" href="https://odysee.com/@AzureOrange404:7">
                <img src="/assets/buttons/odysee.gif"/>
            </a>
            <a class="button" href="https://gitlab.com/azureorangexyz/">
                <img src="/assets/buttons/gitlab.gif"/>
            </a>
            <a class="button" href="mailto:contact@azureorange.xyz">
                <img src="/assets/buttons/email.gif"/>
            </a>

    {{ if .IsHome }}
    <hr style="max-width:548px; margin-top:2px;">

    <a class="button" href="https://schoolstuff.ch"><img src="/assets/buttons/webpin_schoolstuff.gif"/></a>
    <a class="button" href="https://mcozzio.com/"><img src="/assets/buttons/mcozzio.gif"/></a>
	<a class="button" href="https://lukesmith.xyz"><img src="/assets/buttons/webpin_lukesmith.gif"/></a>
	<a class="button" href="https://distro.tube"><img src="/assets/buttons/webpin_distrotube.gif"/></a>

    <hr style="max-width:548px; margin-top:2px;">

    <div class="container">
    <div class="photobanner">
	<a class="button" href="https://neovim.io"><img class="first" src="/assets/buttons/neovim.gif"/></a>
	<a class="button" href="https://gimp.org"><img src="/assets/buttons/gimp.gif"/></a>
	<a class="button" href="https://brave.com"><img src="/assets/buttons/brave.gif"/></a>
	<a class="button" href="https://fediverse.party/"><img src="/assets/buttons/fediverse.png"/></a>
	<a class="button" href="https://linux.com"><img src="/assets/buttons/gnu-linux.gif"/></a>
	<a class="button" href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="/assets/buttons/cc-by-sa.gif"/></a>
    </div>
    </div>
    {{ end }}
</div>
