  {{ if .IsHome }}
  <marquee style="margin-bottom:-1em;"><img src="assets/stick-figure.gif" style="height:4em;"/></marquee>
  {{ end }}
  <hr>
  <small>
    {{ partial "buttons.html" . }}
  </small>
  <hr>
  {{ .Site.Copyright }}
