<style>
{{ $md := resources.Get "fonts/materialdesignicons-webfont.woff" }}
{{ $fa := resources.Get "fonts/fa-solid-900.woff2" }}
@font-face {
    font-family: "md";
    src:    url("{{ $md.RelPermalink }}");
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "fa";
    src:    url("{{ $fa.RelPermalink }}");
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}
a{
    text-decoration: none;
}
md{
  font-family: "md", monospace;
}
fa{
  font-family: "fa", monospace;
}
</style>
<div>
    <a href="{{ .CurrentSection.Permalink }}index.xml">
            <fa></fa> RSS</a>

		<a href="https://gitlab.com/azureorangexyz/">
			<md>󰮠</md> GitLab</a>

		<a href="https://fosstodon.org/web/@azureorange">
            <md>󰫑</md> Mastodon</a>
		
        <a href="https://pixelfed.social/azureorange">
			<fa></fa> PixelFed</a>
		
        <a href="https://odysee.com/@AzureOrange404:7">
			<md>󰍫</md> Odysee</a>
		
        <a href="mailto://contact@azureorange.xyz">
            <md>󰻣</md> e-mail me</a>
</div>
<hr>
