  {{ $dir := "microsoft-paradox" }}
  {{ $title := "The \"Microsoft Paradox\" series" }}
  <br>
  <h3><a href="/{{ $dir }}">{{ $title }}</a></h3>
  <p>A mini blog where I share a series of observations and question the popularity of Microsoft software.</p>
  <ul class="blog-posts">
    {{- range first .Site.Params.HomepagePostLimit ( where ( where site.RegularPages "Section" $dir ) "Draft" false ) -}}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      {{ if .Params.link }}
        <a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a>
      {{ else }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    </li>
    {{ else }}
    <li>
      {{ i18n "no-posts" }}
    </li>
{{ end }}
  </ul>
