{{ define "main" }}
  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
<content>
  <h3>Recent posts</h3>
  <ul class="blog-posts">
    {{- range first .Site.Params.HomepagePostLimit ( where ( where site.RegularPages "Section" "blog" ) "Draft" false ) -}}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      {{ if .Params.link }}
        <a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a>
      {{ else }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    </li>
    {{ else }}
    <li>
      {{ i18n "no-posts" }}
    </li>
{{ end }}
  </ul>
  {{ partial "special.html" . }}
</content>
{{ end }}
