
{{ $data := index .Site.Data.books (.Get 0) }}
{{ $progress := .Get 1 }}

<div class="book-entry">
    <div class="book-cover">
        <a class="book-openlibrary-link" href="{{ $data.openlibrary }}">
            <img class="book-cover" src="{{ $data.cover }}">
        </a>
    </div>
    <div class="book-info">
        <h3> {{ $data.title }} </h3>
        <h4><i> by {{ $data.author }} </i></h4>
        <p> {{ $data.description }} </p>
        <p>
            <label for="progress">
                Progress: <span class="book-progress">{{ $progress }}%</span>
            </label>
            <progress class="book-progress" id="progress" max="100" value="{{ $progress }}"></progress>
        </p>
    </div>
</div>

